/employee-system/.phpunit.cache
/employee-system/bootstrap/ssr
/employee-system/node_modules
/employee-system/public/build
/employee-system/public/hot
/employee-system/public/storage
/employee-system/storage/*.key
/employee-system/storage/pail
/employee-system/resources/js/actions
/employee-system/resources/js/routes
/employee-system/resources/js/wayfinder
/employee-system/vendor
/employee-system/.env
/employee-system/.env.backup
/employee-system/.env.production
/employee-system/.phpactor.json
/employee-system/.phpunit.result.cache
/employee-system/Homestead.json
/employee-system/Homestead.yaml
/employee-system/npm-debug.log
/employee-system/yarn-error.log
/employee-system/auth.json

.DS_Store
/employee-system/.fleet
/employee-system/.idea
/employee-system/.nova
/employee-system/.vscode
/employee-system/.zed

*.log
*.sqlite

*.svg
